body {
  font-family: 'Poppins', sans-serif;
  background-color: #183153;
  color: white;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  padding-bottom: 60px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header-icons {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
}

.header-icons i {
  font-size: 24px;
  cursor: pointer;
  color: white;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin: 0;
  position: relative;
}

/* Ajuste para o ícone da engrenagem */
.gear-icon {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  z-index: 1000;
}

.gear-icon:hover {
  color: #ccc;
}

/* Ajustes para o search-box */
.search-box {
  width: 300px;
  height: 50px;
  position: relative;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
}

.input-search {
  height: 50px;
  width: 100%;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  padding-right: 40px;
  color: #fff;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: none;
}

/* Container dos botões de gerar */
.container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  justify-content: space-between;
  transition: all 0.3s ease;
}

button {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 62px;
  flex: 1;
  max-width: 150px;
  margin-right: 10px;
  background-color: white;
  color: black;
}

/* Cores dos botões de gerar */
.btn-cpf { background-color: #d1e7dd; }
.btn-cnpj { background-color: #fef6d5; }
.btn-cep { background-color: #ffecd2; }
.btn-cns { background-color: #e1d5e7; }
.btn-passaporte { background-color: #f0d9ff; }
.btn-cnh { background-color: #d5f0e1; }
.btn-pis { background-color: #ffe1d5; }
.btn-titulo { background-color: #d5e1ff; }
.btn-rg { background-color: #e1ffd5; }
.btn-ctps { background-color: #ffd5e1; }
.btn-ie { background-color: #d5ffe1; }
.btn-nit { background-color: #e1d5ff; }
.btn-crlv { background-color: #ffd5d5; }
.btn-cam { background-color: #d5e1d5; }

/* Output container */
.output-container {
  display: flex;
  align-items: center;
  width: 300px;
  height: 62px;
  margin-left: 10px;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  color: black;
}

.output {
  font-size: 16px;
  flex-grow: 1;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icons {
  display: flex;
  align-items: center;
  position: relative;
}

.copiar-btn, .mascarar-btn, .mapa-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #6c757d;
  display: none;
  transition: color 0.3s;
  margin-left: 5px;
}

.copiar-btn.copied {
  color: #32CD32;
}

.mascarar-btn.active {
  color: #FF6347;
}

.tooltip {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.icons.copied .tooltip {
  visibility: visible;
  opacity: 1;
}

footer {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer i {
  color: red;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #1c3a5d;
  padding: 30px;
  border-radius: 10px;
  width: calc(100% - 40px);
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}

.modal-content h2 {
  margin-top: 0;
  font-size: 24px;
  color: #ffffff;
}

.output-container-modal,
.output-container-cnpj {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 20px);
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  color: #333;
  margin: 15px auto;
  font-size: 16px;
  box-sizing: border-box;
}

.output-container-modal p,
.output-container-cnpj p {
  font-weight: bold;
  margin: 0;
}

.copy-btn-modal {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #6c757d;
  transition: color 0.3s;
  margin-left: auto;
  text-align: right;
}

.copy-btn-modal:hover {
  color: #007bff;
}

.copy-btn-modal.copied {
  color: #32CD32;
}

.tooltip-modal {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.copy-btn-modal.copied + .tooltip-modal {
  visibility: visible;
  opacity: 1;
}

.close {
  color: #aaa;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.api-note {
  text-align: center;
  font-size: 8px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.api-link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.api-link:hover {
  color: #ccc;
}

/* Spinner de carregamento */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Estilos para o scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Largura do scroll */
}

::-webkit-scrollbar-track {
  background: #1c3a5d; /* Cor do fundo do track do scroll */
  border-radius: 5px; /* Borda arredondada para combinar com o layout */
}

::-webkit-scrollbar-thumb {
  background-color: #4a6fa5; /* Cor do scroll */
  border-radius: 5px; /* Borda arredondada para suavizar */
  border: 2px solid #183153; /* Borda ao redor do thumb para dar um efeito */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3a5f8d; /* Cor mais escura ao passar o mouse */
}

/* Aplicação para Firefox */
* {
  scrollbar-width: thin; /* Define a largura do scroll para fino */
  scrollbar-color: #4a6fa5 #1c3a5d; /* thumb cor de fundo do track */
}